.people-list-section {
  margin-right: 36px;
  margin-top: 52px;
}

.people-list-section h6 {
  font-weight: 200;
  text-align: right;
  margin: 10px 0 8px;
  letter-spacing: 2px;
  font-size: 14px;
}

.people-list {
  list-style: none;
  text-align: right;
}

.people-list-item {
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
  color: #423ff5;
}
