.plan-list {
  width: 300px;
  list-style-type: none;
  padding: 0 12px;
}

.plan-list li {
  width: 80%;
  margin: 10px auto;
  background-color: white;
  border-radius: 8px;
  padding: 8px 12px;
  transition: all 0.2s ease;
  position: relative;
}

.plan-list li:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 10px #45454510;
}

.task-text {
  font-size: 15px;
  color: #454545;
  font-weight: normal;
  line-height: 1.3em;
  margin: 8px auto;
}

.task-details {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 8px;
  align-items: start;
  margin-top: 12px;
}

.task-project {
  font-size: 13px;
  font-weight: 500;
  color: #f53f9480;
  display: inline;
  text-decoration: none;
}

.task-assignee {
  font-size: 13px;
  font-weight: 500;
  color: #423ff580;
  display: inline;
  text-decoration: none;
}

.task-date {
  font-size: 13px;
  font-weight: 500;
  color: #b8b8b8;
  display: inline;
  margin: 0 0;
  justify-self: end;
}

/* styling the task card action bar that appears on hover */

li:hover .card-action {
  opacity: 1;
  margin-bottom: 18px;
}

.card-action {
  opacity: 0;
  margin-bottom: 10px;
  transition: all 0.2s ease;
}

.delete-button {
  position: absolute;
  right: 12px;
  top: 6px;
  cursor: pointer;
  font-size: 8px;
  font-weight: 800;
  color: white;
  background-color: #f53f3f;
  border: none;
  border-radius: 10px;
}

.done-button {
  position: absolute;
  top: 6px;
  cursor: pointer;
  font-size: 8px;
  font-weight: 800;
  color: #1dd8b0;
  border: 1px solid #1dd8b0;
  border-radius: 10px;
}

/* for enter and exit animations of task card */

.todoAnim-enter {
  opacity: 0;
  transform: translateY(4px);
}

.todoAnim-enter.todoAnim-enter-active {
  opacity: 1;
  transform: translateX(0px);
  transition: all 500ms ease-out;
}

.todoAnim-exit {
  opacity: 1;
  transform: translateX(0px);
}

.todoAnim-exit.todoAnim-exit-active {
  opacity: 0;
  transform: translateY(4px);
  transition: all 500ms ease-out;
}
