.container {
  margin: 0 auto;
  max-width: 1280px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 160px auto;
}

.info-area {
  text-align: right;
  margin-right: 40px;
  align-content: center;
}

.info-area h3 {
  font-weight: 900;
  line-height: 1em;
  margin: 36px 0 8px;
}

.info-area p {
  font-family: "SF Mono", Courier, monospace;
  font-size: 14px;
  color: #33363980;
  margin-top: 4px;
}

.form-area {
  padding-left: 22px;
  padding-right: 84px;
}

form {
  margin-top: 20px;
}

input[type="text"] {
  border: none;
  background-color: #f4f5f6;
  padding: 10px 20px;
  margin: 8px 8px;
  font-size: 16px;
  color: #333639;
  border-radius: 4px;
}

input[type="text"]::placeholder {
  opacity: 0.4;
}

input[type="text"]:focus {
  background-color: #dbebfc80;
  outline: none;
}

.task-input {
  width: 92%;
}

.second-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.submit-button {
  background-color: #1dd8b0;
  border: none;
  border-radius: 20px;
  padding: 13px 20px 12px;
  margin: 8px 24px;
  font-size: 14px;
  font-weight: 800;
  color: white;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

button:focus {
  outline: none;
}

input[type="date"] {
  border: none;
  background-color: #f4f5f6;
  padding: 12px 20px 8px 20px;
  margin: 8px 8px;
  font-size: 14px;
  color: #333639;
  border-radius: 4px;
}

input[type="date"]:focus {
  background-color: #dbebfc80;
  outline: none;
}

.left-sidebar {
  background-color: #f4f5f6;
  height: 1200px;
}

.task-board {
  background-color: #f4f5f6;
  height: 1200px;
}

/* for simple ease and settle in place animation for the entire app 
- on page load */
.fade-appear {
  opacity: 0;
  transform: translateY(16px);
}
.fade-appear.fade-appear-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 500ms ease-out;
}
