.App {
  margin: 0 auto;
  background-color: #f4f5f6;
}

.form-section-container {
  width: 100%;
  margin: 0 auto;
}

.form-section {
  background-color: #ffffff;
  height: 140px;
  width: 100%;
  display: grid;
  grid-template-columns: 260px 3fr;
  margin: 0 auto;
}

.info-section {
  text-align: right;
  margin-right: 40px;
  width: 204px;
  align-content: center;
}

.info-section h3 {
  font-weight: 900;
  line-height: 1em;
  margin: 36px 0 8px;
}

.info-section p {
  font-family: "SF Mono", Courier, monospace;
  font-size: 14px;
  color: #33363980;
  margin-top: 4px;
}

form {
  width: 900px;
  margin-top: 20px;
}

input[type="text"] {
  border: none;
  background-color: #f4f5f6;
  padding: 10px 20px;
  margin: 8px 8px;
  font-size: 16px;
  color: #333639;
  border-radius: 4px;
}

input[type="text"]::placeholder {
  opacity: 0.4;
}

input[type="text"]:focus {
  background-color: #dbebfc80;
  outline: none;
}

.task-input {
  width: 92%;
}

.second-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.submit-button {
  background-color: #0099ff;
  border: none;
  border-radius: 20px;
  padding: 13px 20px 10px;
  margin: 8px 24px;
  font-size: 14px;
  font-weight: 800;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

button:focus {
  outline: none;
}

input[type="date"] {
  border: none;
  background-color: #f4f5f6;
  padding: 12px 20px 8px 20px;
  margin: 8px 8px;
  font-size: 14px;
  color: #333639;
  border-radius: 4px;
}

input[type="date"]:focus {
  background-color: #dbebfc80;
  outline: none;
}

.list-section {
  width: 100%;
  height: 1600px;
  margin: 20px auto;
  padding-top: 12px;
  background-color: #f4f5f6;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.content-area {
  max-width: 1200px;
}
